<% @post.comments.each do |comment| %>
	<p>
	  <b>Commenter:</b>
	  <%= comment.user.login %>
	</p>
 
	<p>
	  <b>Comment:</b>
	  <%= comment.body %>
	</p>
	
	<p>
		<%= link_to 'Destroy Comment', [@post, comment],
		             :confirm => 'Are you sure?',
		             :method => :delete %>
	</p>
<% end %>
